@use './controls.scss';
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #000;
  margin: 0 auto;
  padding: 0px 0px 0px 80px;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
  height: 100%;
}

button,
select,
input {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
  body {
    padding: 2px 2px 15px 2px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

img.loading {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(30, 30, 30, 0.9) 0%,
    rgba(50, 50, 50, 0.9) 50%,
    rgba(30, 30, 30, 0.9) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
}

img.error {
  position: relative;
  background: rgba(30, 30, 30, 0.9);
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
}

img.loaded {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
